<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">
<!-- type에는 NoticeVo의 경로를 적고 resultMap태그는 여러개가 있을 수 있으니 id값으로 구분 -->
<!-- 왜 힘들게 resultMap을 써야하는가? VO클래스의 필드명과 DB의 컬럼명이 달라서 매핑해줘야 함 -->
<!-- PK에 해당하는 컬럼은 id 태그로 그 외 나머지는 result 태그로 매핑해줌 -->
<!-- resultMap을 다 작성하였으면 select 태그에 resultMap 속성에 id값을 적어주어야 함 -->
	<resultMap type="com.kh.notice.model.vo.Notice" id="noticeResultMap">
		<id property="noticeNo" 		column="NOTICE_NO"/>
		<result property="noticeSubject" 	column="NOTICE_SUBJECT"/>
		<result property="noticeContent" 	column="NOTICE_CONTENT"/>
		<result property="noticeWriter" 	column="NOTICE_WRITER"/>
		<result property="noticeDate" 		column="NOTICE_DATE"/>
		<result property="updateDate" 		column="UPDATE_DATE"/>
		<result property="viewCount" 		column="VIEW_COUNT"/>
	</resultMap>
	<insert id="insertNotice">
		INSERT INTO NOTICE_TBL VALUES(SEQ_NOTICENO.NEXTVAL, #{noticeSubject}, #{noticeContent},'admin', DEFAULT,DEFAULT,DEFAULT)
	</insert>
	<update id="updateNotice">
		UPDATE NOTICE_TBL SET NOTICE_SUBJECT = #{noticeSubject}, NOTICE_CONTENT = #{noticeContent}, UPDATE_DATE = DEFAULT WHERE NOTICE_NO = #{noticeNo}
	</update>
	<delete id="deleteNotice">
		DELETE FROM NOTICE_TBL WHERE NOTICE_NO = #{noticeNo}
	</delete>
	
	<select id="selectNoticeList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE_TBL ORDER BY NOTICE_NO DESC
	</select>
	<select id="selectOneByNo" resultMap="noticeResultMap">
		SELECT * FROM NOTICE_TBL WHERE NOTICE_NO = #{noticeNo}
	</select>
<!-- 	여러개의 컬럼을 가져올때는 resultMap, 하나의 결과값을 가져오고 그 결과값이 int라서 resultType을 씀 -->
	<select id="getTotalCount" resultType="_int">
	
		SELECT COUNT(*) FROM NOTICE_TBL
		
	</select>
</mapper>